<table class="table">
  <tr>
    <th>選挙区ID</th>
    <th>選挙区名</th>
  </tr>
  <% for (i in candidates) { %>
  <tr>
    <td><%= candidates[i].candidate_id %></td>
    <td><%= candidates[i].name %></td>
  </tr>
  <% } %>
</table>

<table class="table table-bordered table-hover">
  <caption></caption>
  <thead>
    <tr>
      <th>候補者</th>
      <% for (var i in issues) { %>
      <th><%= issues[i].title %></th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% for (var i in candidates) { %>
    <tr>
      <th><i class="icon-user"></i>&nbsp;<a href="/candidate/<%= candidates[i].candidate_id %>"><%= candidates[i].name %></a></th>
      <td>
        サマリー1<br />
        テスト
      </td>
      <td>サマリー2</td>
      <td>
        サマリー1<br />
        テスト
      </td>
      <td>サマリー2</td>
    </tr>
    <% } %>
  </tbody>
  <tfoot>
  </tfoot>
</table>